USE [master]
GO
/****** Object:  User [##MS_PolicyEventProcessingLogin##]    Script Date: 24/08/2023 04:18:49 ******/
CREATE USER [##MS_PolicyEventProcessingLogin##] FOR LOGIN [##MS_PolicyEventProcessingLogin##] WITH DEFAULT_SCHEMA=[dbo]
GO
/****** Object:  User [##MS_AgentSigningCertificate##]    Script Date: 24/08/2023 04:18:49 ******/
CREATE USER [##MS_AgentSigningCertificate##] FOR LOGIN [##MS_AgentSigningCertificate##]
GO
/****** Object:  Table [dbo].[XXBCM_CLIENT]    Script Date: 24/08/2023 04:18:49 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[XXBCM_CLIENT](
	[SUPPLIERID] [bigint] IDENTITY(1,1) NOT NULL,
	[SUPPLIERNAME] [varchar](100) NULL,
 CONSTRAINT [pk_client] PRIMARY KEY CLUSTERED 
(
	[SUPPLIERID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[XXBCM_CLIENT_EMAIL_ADDRESS]    Script Date: 24/08/2023 04:18:49 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[XXBCM_CLIENT_EMAIL_ADDRESS](
	[EMAILID] [bigint] IDENTITY(1,1) NOT NULL,
	[SUPPLIERID] [bigint] NULL,
	[SUPPLIERCONTACTNAME] [varchar](100) NULL,
	[EMAIL] [varchar](100) NULL,
 CONSTRAINT [pk_email_address] PRIMARY KEY CLUSTERED 
(
	[EMAILID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[XXBCM_CLIENT_PHONE_NUMBER]    Script Date: 24/08/2023 04:18:49 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[XXBCM_CLIENT_PHONE_NUMBER](
	[PHONENUMBERID] [bigint] IDENTITY(1,1) NOT NULL,
	[SUPPLIERID] [bigint] NULL,
	[SUPPLIERCONTACTNAME] [varchar](100) NULL,
	[PHONENUMBER] [varchar](100) NULL,
 CONSTRAINT [pk_phone_number] PRIMARY KEY CLUSTERED 
(
	[PHONENUMBERID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[XXBCM_INVOICE]    Script Date: 24/08/2023 04:18:49 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[XXBCM_INVOICE](
	[INVOICEID] [bigint] IDENTITY(1,1) NOT NULL,
	[ORDERHEADERID] [bigint] NULL,
	[INVOICEREFERENCE] [varchar](50) NULL,
	[INVOICEDATE] [datetime] NULL,
	[INVOICEAMOUNT] [money] NULL,
	[INVOICESTATUSID] [bigint] NULL,
	[INVOICEHOLDREASONID] [bigint] NULL,
	[INVOICEDESCRIPTION] [varchar](100) NULL,
 CONSTRAINT [pk_invoice] PRIMARY KEY CLUSTERED 
(
	[INVOICEID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[XXBCM_INVOICE_HOLD_REASON]    Script Date: 24/08/2023 04:18:49 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[XXBCM_INVOICE_HOLD_REASON](
	[INVOICEHOLDREASONID] [bigint] IDENTITY(1,1) NOT NULL,
	[INVOICEHOLDREASON] [varchar](50) NULL,
 CONSTRAINT [pk_INVOICE_HOLD_REASON] PRIMARY KEY CLUSTERED 
(
	[INVOICEHOLDREASONID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[XXBCM_INVOICE_STATUS]    Script Date: 24/08/2023 04:18:49 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[XXBCM_INVOICE_STATUS](
	[INVOICESTATUSID] [bigint] IDENTITY(1,1) NOT NULL,
	[INVOICESTATUSDESCRIPTION] [varchar](50) NULL,
 CONSTRAINT [pk_order_invoice_status] PRIMARY KEY CLUSTERED 
(
	[INVOICESTATUSID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[XXBCM_ORDER_HEADER]    Script Date: 24/08/2023 04:18:49 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[XXBCM_ORDER_HEADER](
	[ORDERHEADERID] [bigint] IDENTITY(1,1) NOT NULL,
	[ORDERREF] [varchar](50) NOT NULL,
	[SUPPLIERID] [bigint] NULL,
	[ORDERDATE] [datetime] NULL,
	[ORDERTOTALAMOUNT] [money] NULL,
	[ORDERDESCRIPTION] [varchar](100) NULL,
	[ORDERSTATUSID] [bigint] NULL,
 CONSTRAINT [pk_order_header] PRIMARY KEY CLUSTERED 
(
	[ORDERHEADERID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[XXBCM_ORDER_LINE]    Script Date: 24/08/2023 04:18:49 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[XXBCM_ORDER_LINE](
	[ORDERLINEID] [bigint] IDENTITY(1,1) NOT NULL,
	[ORDERLINEREF] [varchar](50) NOT NULL,
	[ORDERHEADERID] [bigint] NULL,
	[ORDERDESCRIPTION] [varchar](200) NULL,
	[ORDERLINEAMOUNT] [money] NULL,
	[ORDERLINESTATUSID] [bigint] NULL,
 CONSTRAINT [pk_order_line] PRIMARY KEY CLUSTERED 
(
	[ORDERLINEID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[XXBCM_ORDER_LINE_STATUS]    Script Date: 24/08/2023 04:18:49 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[XXBCM_ORDER_LINE_STATUS](
	[ORDERLINESTATUSID] [bigint] IDENTITY(1,1) NOT NULL,
	[ORDERLINESTATUSDESCRIPTION] [varchar](50) NULL,
 CONSTRAINT [pk_order_line_status] PRIMARY KEY CLUSTERED 
(
	[ORDERLINESTATUSID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[XXBCM_ORDER_MGT]    Script Date: 24/08/2023 04:18:49 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[XXBCM_ORDER_MGT](
	[ORDER_REF] [varchar](2000) NULL,
	[ORDER_DATE] [varchar](2000) NULL,
	[SUPPLIER_NAME] [varchar](2000) NULL,
	[SUPP_CONTACT_NAME] [varchar](2000) NULL,
	[SUPP_ADDRESS] [varchar](2000) NULL,
	[SUPP_CONTACT_NUMBER] [varchar](2000) NULL,
	[SUPP_EMAIL] [varchar](2000) NULL,
	[ORDER_TOTAL_AMOUNT] [varchar](2000) NULL,
	[ORDER_DESCRIPTION] [varchar](2000) NULL,
	[ORDER_STATUS] [varchar](2000) NULL,
	[ORDER_LINE_AMOUNT] [varchar](2000) NULL,
	[INVOICE_REFERENCE] [varchar](2000) NULL,
	[INVOICE_DATE] [varchar](2000) NULL,
	[INVOICE_STATUS] [varchar](2000) NULL,
	[INVOICE_HOLD_REASON] [varchar](2000) NULL,
	[INVOICE_AMOUNT] [varchar](2000) NULL,
	[INVOICE_DESCRIPTION] [varchar](2000) NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[XXBCM_ORDER_STATUS]    Script Date: 24/08/2023 04:18:49 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[XXBCM_ORDER_STATUS](
	[ORDERSTATUSID] [bigint] IDENTITY(1,1) NOT NULL,
	[ORDERSTATUSDESCRIPTION] [varchar](50) NULL,
 CONSTRAINT [pk_order_header_status] PRIMARY KEY CLUSTERED 
(
	[ORDERSTATUSID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[XXBCM_CLIENT_EMAIL_ADDRESS]  WITH CHECK ADD  CONSTRAINT [FK__XXBCM_CLI__SUPPL__45632D00] FOREIGN KEY([SUPPLIERID])
REFERENCES [dbo].[XXBCM_CLIENT] ([SUPPLIERID])
GO
ALTER TABLE [dbo].[XXBCM_CLIENT_EMAIL_ADDRESS] CHECK CONSTRAINT [FK__XXBCM_CLI__SUPPL__45632D00]
GO
ALTER TABLE [dbo].[XXBCM_CLIENT_PHONE_NUMBER]  WITH CHECK ADD  CONSTRAINT [FK__XXBCM_CLI__SUPPL__4286C055] FOREIGN KEY([SUPPLIERID])
REFERENCES [dbo].[XXBCM_CLIENT] ([SUPPLIERID])
GO
ALTER TABLE [dbo].[XXBCM_CLIENT_PHONE_NUMBER] CHECK CONSTRAINT [FK__XXBCM_CLI__SUPPL__4286C055]
GO
ALTER TABLE [dbo].[XXBCM_INVOICE]  WITH CHECK ADD  CONSTRAINT [FK__XXBCM_INV__INVOI__68AC693D] FOREIGN KEY([INVOICESTATUSID])
REFERENCES [dbo].[XXBCM_INVOICE_STATUS] ([INVOICESTATUSID])
GO
ALTER TABLE [dbo].[XXBCM_INVOICE] CHECK CONSTRAINT [FK__XXBCM_INV__INVOI__68AC693D]
GO
ALTER TABLE [dbo].[XXBCM_INVOICE]  WITH CHECK ADD  CONSTRAINT [FK__XXBCM_INV__INVOI__69A08D76] FOREIGN KEY([INVOICEHOLDREASONID])
REFERENCES [dbo].[XXBCM_INVOICE_HOLD_REASON] ([INVOICEHOLDREASONID])
GO
ALTER TABLE [dbo].[XXBCM_INVOICE] CHECK CONSTRAINT [FK__XXBCM_INV__INVOI__69A08D76]
GO
ALTER TABLE [dbo].[XXBCM_INVOICE]  WITH CHECK ADD  CONSTRAINT [FK__XXBCM_INV__ORDER__6A94B1AF] FOREIGN KEY([ORDERHEADERID])
REFERENCES [dbo].[XXBCM_ORDER_HEADER] ([ORDERHEADERID])
GO
ALTER TABLE [dbo].[XXBCM_INVOICE] CHECK CONSTRAINT [FK__XXBCM_INV__ORDER__6A94B1AF]
GO
ALTER TABLE [dbo].[XXBCM_ORDER_HEADER]  WITH CHECK ADD  CONSTRAINT [FK__XXBCM_ORD__ORDER__5E2EDACA] FOREIGN KEY([ORDERSTATUSID])
REFERENCES [dbo].[XXBCM_ORDER_STATUS] ([ORDERSTATUSID])
GO
ALTER TABLE [dbo].[XXBCM_ORDER_HEADER] CHECK CONSTRAINT [FK__XXBCM_ORD__ORDER__5E2EDACA]
GO
ALTER TABLE [dbo].[XXBCM_ORDER_HEADER]  WITH CHECK ADD  CONSTRAINT [FK__XXBCM_ORD__SUPPL__5D3AB691] FOREIGN KEY([SUPPLIERID])
REFERENCES [dbo].[XXBCM_CLIENT] ([SUPPLIERID])
GO
ALTER TABLE [dbo].[XXBCM_ORDER_HEADER] CHECK CONSTRAINT [FK__XXBCM_ORD__SUPPL__5D3AB691]
GO
ALTER TABLE [dbo].[XXBCM_ORDER_LINE]  WITH CHECK ADD  CONSTRAINT [FK__XXBCM_ORD__ORDER__64DBD859] FOREIGN KEY([ORDERHEADERID])
REFERENCES [dbo].[XXBCM_ORDER_HEADER] ([ORDERHEADERID])
GO
ALTER TABLE [dbo].[XXBCM_ORDER_LINE] CHECK CONSTRAINT [FK__XXBCM_ORD__ORDER__64DBD859]
GO
ALTER TABLE [dbo].[XXBCM_ORDER_LINE]  WITH CHECK ADD  CONSTRAINT [FK__XXBCM_ORD__ORDER__65CFFC92] FOREIGN KEY([ORDERLINESTATUSID])
REFERENCES [dbo].[XXBCM_ORDER_LINE_STATUS] ([ORDERLINESTATUSID])
GO
ALTER TABLE [dbo].[XXBCM_ORDER_LINE] CHECK CONSTRAINT [FK__XXBCM_ORD__ORDER__65CFFC92]
GO
/****** Object:  StoredProcedure [dbo].[QUESTION3]    Script Date: 24/08/2023 04:18:49 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[QUESTION3]
AS

SET NOCOUNT ON

 --Data Cleansing of table XXBCM_ORDER_MGT
--Order line amount
UPDATE XXBCM_ORDER_MGT
SET INVOICE_AMOUNT = REPLACE(INVOICE_AMOUNT, ',', '')

UPDATE XXBCM_ORDER_MGT
SET INVOICE_AMOUNT = 0
WHERE INVOICE_AMOUNT IS NULL

UPDATE XXBCM_ORDER_MGT
SET INVOICE_AMOUNT = REPLACE(INVOICE_AMOUNT, 'O', 0)

UPDATE XXBCM_ORDER_MGT
SET INVOICE_AMOUNT = REPLACE(INVOICE_AMOUNT, 'I', 1)

UPDATE XXBCM_ORDER_MGT
SET INVOICE_AMOUNT = REPLACE(INVOICE_AMOUNT, 'S', 5)

--Order line amount
UPDATE XXBCM_ORDER_MGT
SET ORDER_LINE_AMOUNT = REPLACE(ORDER_LINE_AMOUNT, ',', '')

UPDATE XXBCM_ORDER_MGT
SET ORDER_LINE_AMOUNT = 0
WHERE ORDER_LINE_AMOUNT IS NULL

UPDATE XXBCM_ORDER_MGT
SET ORDER_LINE_AMOUNT = REPLACE(ORDER_LINE_AMOUNT, 'O', 0)

UPDATE XXBCM_ORDER_MGT
SET ORDER_LINE_AMOUNT = REPLACE(ORDER_LINE_AMOUNT, 'I', 1)

UPDATE XXBCM_ORDER_MGT
SET ORDER_LINE_AMOUNT = REPLACE(ORDER_LINE_AMOUNT, 'S', 5)

--Order total amount
UPDATE XXBCM_ORDER_MGT
SET ORDER_TOTAL_AMOUNT = REPLACE(ORDER_TOTAL_AMOUNT, ',', '')

UPDATE XXBCM_ORDER_MGT
SET ORDER_TOTAL_AMOUNT = 0
WHERE ORDER_TOTAL_AMOUNT IS NULL


--Email Address
INSERT INTO XXBCM_CLIENT_EMAIL_ADDRESS
SELECT clt.SUPPLIERID,
	ct.SUPP_CONTACT_NAME,
	ct.SUPP_EMAIL
FROM XXBCM_CLIENT clt
LEFT JOIN ( SELECT DISTINCT SUPPLIER_NAME,
				SUPP_CONTACT_NAME,
				SUPP_EMAIL
			FROM XXBCM_ORDER_MGT ) AS ct
		ON ct.SUPPLIER_NAME COLLATE DATABASE_DEFAULT = clt.SUPPLIERNAME COLLATE DATABASE_DEFAULT


--Client Phone Number
INSERT INTO XXBCM_CLIENT_PHONE_NUMBER
SELECT clt.SUPPLIERID,
	ct.SUPP_CONTACT_NAME,
	ct.SUPP_CONTACT_NUMBER
FROM XXBCM_CLIENT clt
LEFT JOIN ( SELECT DISTINCT SUPPLIER_NAME,
				SUPP_CONTACT_NAME,
				SUPP_CONTACT_NUMBER
			FROM XXBCM_ORDER_MGT ) AS ct
		ON ct.SUPPLIER_NAME COLLATE DATABASE_DEFAULT = clt.SUPPLIERNAME COLLATE DATABASE_DEFAULT


--Order Status
INSERT INTO XXBCM_ORDER_STATUS
SELECT DISTINCT ORDER_STATUS
FROM XXBCM_ORDER_MGT
WHERE ORDER_LINE_AMOUNT IS NULL
ORDER BY ORDER_STATUS


--Order Line Status
INSERT INTO XXBCM_ORDER_LINE_STATUS
SELECT DISTINCT ORDER_STATUS
FROM XXBCM_ORDER_MGT
WHERE ORDER_LINE_AMOUNT IS NOT NULL
ORDER BY ORDER_STATUS


--Invoice status
INSERT INTO XXBCM_INVOICE_STATUS
SELECT DISTINCT INVOICE_STATUS
FROM XXBCM_ORDER_MGT
ORDER BY INVOICE_STATUS


--Invoice hold reason
INSERT INTO XXBCM_INVOICE_HOLD_REASON
SELECT DISTINCT INVOICE_HOLD_REASON
FROM XXBCM_ORDER_MGT
ORDER BY INVOICE_HOLD_REASON


--Client
INSERT INTO XXBCM_CLIENT
SELECT DISTINCT SUPPLIER_NAME
FROM XXBCM_ORDER_MGT


--Order Header
INSERT INTO XXBCM_ORDER_HEADER
SELECT ord.ORDER_REF,
	clt.SUPPLIERID,
	CONVERT(DATETIME, ord.ORDER_DATE, 102) AS ORDERDATE,
	CAST(ord.ORDER_TOTAL_AMOUNT AS DECIMAL(18, 2)) AS ORDERTOTALAMOUNT,
	ord.ORDER_DESCRIPTION AS ORDERDESCRIPTION,
	STS.ORDERSTATUSID
FROM XXBCM_ORDER_MGT ord
LEFT JOIN XXBCM_CLIENT clt ON clt.SUPPLIERNAME COLLATE DATABASE_DEFAULT = ord.SUPPLIER_NAME COLLATE DATABASE_DEFAULT
LEFT JOIN XXBCM_ORDER_STATUS sts ON sts.ORDERSTATUSDESCRIPTION COLLATE DATABASE_DEFAULT = ORD.ORDER_STATUS COLLATE DATABASE_DEFAULT
WHERE ord.ORDER_LINE_AMOUNT = 0


--Order Line
INSERT INTO XXBCM_ORDER_LINE
SELECT ord.ORDER_REF AS ORDERLINEREF,
	ordh.ORDERHEADERID,
	ord.ORDER_DESCRIPTION AS ORDERDESCRIPTION,
	CAST(ord.ORDER_LINE_AMOUNT AS DECIMAL(18, 2)) AS ORDER_LINE_AMOUNT,
	sts.ORDERLINESTATUSID
FROM XXBCM_ORDER_MGT ord
LEFT JOIN XXBCM_ORDER_LINE_STATUS sts ON sts.ORDERLINESTATUSDESCRIPTION COLLATE DATABASE_DEFAULT = ord.ORDER_STATUS COLLATE DATABASE_DEFAULT
LEFT JOIN XXBCM_ORDER_HEADER ordh ON ordh.ORDERREF COLLATE DATABASE_DEFAULT = LEFT(ord.ORDER_REF, 5) COLLATE DATABASE_DEFAULT
WHERE ord.ORDER_LINE_AMOUNT <> 0


--Invoice sent
INSERT INTO XXBCM_INVOICE
SELECT ordh.ORDERHEADERID,
	ord.INVOICE_REFERENCE,
	CONVERT(DATETIME, ord.INVOICE_DATE, 103) AS INVOICE_DATE,
	CAST(ord.INVOICE_AMOUNT AS DECIMAL(18, 2)) AS INVOICE_AMOUNT,
	ists.INVOICESTATUSID,
	hsts.INVOICEHOLDREASONID,
	ord.INVOICE_DESCRIPTION AS INVOICEDESCRIPTION
FROM XXBCM_ORDER_MGT ord
LEFT JOIN XXBCM_INVOICE_STATUS ists ON ists.INVOICESTATUSDESCRIPTION COLLATE DATABASE_DEFAULT = ord.INVOICE_STATUS COLLATE DATABASE_DEFAULT
LEFT JOIN XXBCM_INVOICE_HOLD_REASON hsts ON hsts.INVOICEHOLDREASON COLLATE DATABASE_DEFAULT = ord.INVOICE_HOLD_REASON COLLATE DATABASE_DEFAULT
LEFT JOIN XXBCM_ORDER_HEADER ordh ON ordh.ORDERREF COLLATE DATABASE_DEFAULT = LEFT(ord.ORDER_REF, 5) COLLATE DATABASE_DEFAULT
WHERE ord.ORDER_LINE_AMOUNT <> 0
AND ord.INVOICE_AMOUNT <> 0







GO
/****** Object:  StoredProcedure [dbo].[QUESTION4]    Script Date: 24/08/2023 04:18:49 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[QUESTION4]
AS

SELECT REPLACE(ordh.ORDERREF, 'PO', '') AS ORDERREF,
	FORMAT(ordh.ORDERDATE, 'MMM-yyyy') AS ORDERPERIOD,
	sup.SUPPLIERNAME,
	UPPER(LEFT(sup.SUPPLIERNAME,1))+LOWER(SUBSTRING(sup.SUPPLIERNAME,2,LEN(sup.SUPPLIERNAME))),
	REPLACE(FORMAT(ordh.ORDERTOTALAMOUNT, 'C'), '$', '') AS ORDERTOTALAMOUNT,
	ords.ORDERSTATUSDESCRIPTION,
	inv.INVOICEREFERENCE,
	REPLACE(FORMAT(ISNULL(inv.INVOICETOTALAMOUNT, 0), 'C'), '$', '') AS ORDERTOTALAMOUNT,
	CASE WHEN acn.STATUSNULL > 0
		THEN 'To verify'
	WHEN acn.PENDING > 0
		THEN 'To follow up'
	WHEN acn.PAID > 0
		THEN 'OK'
	END AS ACTION
--Order Header
FROM XXBCM_ORDER_HEADER ordh
--Supplier
INNER JOIN XXBCM_CLIENT sup ON sup.SUPPLIERID = ordh.SUPPLIERID
--Order Status
INNER JOIN XXBCM_ORDER_STATUS ords ON ords.ORDERSTATUSID =	ordh.ORDERSTATUSID
--Invoice Total
LEFT JOIN ( SELECT ORDERHEADERID,
				INVOICEREFERENCE,
				SUM(INVOICEAMOUNT) AS INVOICETOTALAMOUNT
			FROM XXBCM_INVOICE
			GROUP BY ORDERHEADERID, INVOICEREFERENCE ) AS inv ON inv.ORDERHEADERID = ordh.ORDERHEADERID
--Invoice Status
LEFT JOIN ( SELECT ORDERHEADERID,
	COUNT(CASE WHEN INVOICESTATUSDESCRIPTION IS NULL THEN (INVOICESTATUSDESCRIPTION) END) AS STATUSNULL,
	COUNT(CASE WHEN INVOICESTATUSDESCRIPTION = 'Pending' THEN (INVOICESTATUSDESCRIPTION) END) AS PENDING,
	COUNT(CASE WHEN INVOICESTATUSDESCRIPTION = 'Paid' THEN (INVOICESTATUSDESCRIPTION) END) AS PAID
FROM XXBCM_INVOICE inv
INNER JOIN XXBCM_INVOICE_STATUS invs ON invs.INVOICESTATUSID = inv.INVOICESTATUSID
GROUP BY ORDERHEADERID ) AS acn On acn.ORDERHEADERID = ordh.ORDERHEADERID
ORDER BY ordh.ORDERDATE DESC
GO
/****** Object:  StoredProcedure [dbo].[QUESTION5]    Script Date: 24/08/2023 04:18:49 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[QUESTION5]
AS

SELECT REPLACE(ordh.ORDERREF, 'PO', '') AS ORDERREF,
	FORMAT(ordh.ORDERDATE, 'MMMM dd, yyyy') AS ORDERDATE,
	UPPER(sup.SUPPLIERNAME) AS SUPPLIERNAME,
	REPLACE(FORMAT(ordh.ORDERTOTALAMOUNT, 'C'), '$', '') AS ORDERTOTALAMOUNT,
	ords.ORDERSTATUSDESCRIPTION AS ORDERSTATUS,
	invRef.INVOICEREFERENCE
--Order Header
FROM XXBCM_ORDER_HEADER ordh
--Supplier
INNER JOIN XXBCM_CLIENT sup ON sup.SUPPLIERID = ordh.SUPPLIERID
--Order Status
INNER JOIN XXBCM_ORDER_STATUS ords ON ords.ORDERSTATUSID =	ordh.ORDERSTATUSID
--Invoice References
LEFT JOIN ( SELECT ORDERHEADERID,
			STRING_AGG(INVOICEREFERENCE, '|') AS INVOICEREFERENCE
			FROM XXBCM_INVOICE
			GROUP BY ORDERHEADERID ) AS invRef ON invRef.ORDERHEADERID = ordh.ORDERHEADERID
WHERE ordh.ORDERHEADERID = ( SELECT TOP 1(ordh.ORDERHEADERID) AS ORDERHEADERID
				FROM XXBCM_ORDER_HEADER ordh
				WHERE ordh.ORDERTOTALAMOUNT < ( SELECT MAX(ORDERTOTALAMOUNT) FROM XXBCM_ORDER_HEADER)
				ORDER BY ordh.ORDERTOTALAMOUNT DESC)
ORDER BY ordh.ORDERTOTALAMOUNT DESC
GO
/****** Object:  StoredProcedure [dbo].[QUESTION6]    Script Date: 24/08/2023 04:18:49 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[QUESTION6]
AS

SELECT sup.SUPPLIERNAME,
	ctc.SUPPLIERCONTACTNAME,
	LEFT(ctc.PHONENO1, 4) + '-' + RIGHT(ctc.PHONENO1, 4) AS PHONENO1,
	LEFT(ctc.PHONENO2, 4) + '-' + RIGHT(ctc.PHONENO2, 4) AS PHONENO2,
	ordh.TOTALORDERS,
	REPLACE(FORMAT(ordh.ORDERTOTALAMOUNT, 'C'), '$', '') AS ORDERTOTALAMOUNT
--Supplier
FROM XXBCM_CLIENT sup
--Order
LEFT JOIN ( SELECT SUPPLIERID,
				COUNT(*) AS TOTALORDERS,
				SUM(ORDERTOTALAMOUNT) ORDERTOTALAMOUNT
			FROM XXBCM_ORDER_HEADER ordh
			WHERE CONVERT(DATE, ordh.ORDERDATE, 102) BETWEEN '2022-01-01' AND '2022-08-31'
			GROUP BY SUPPLIERID ) AS ordh ON ordh.SUPPLIERID = sup.SUPPLIERID
--Phone Number
LEFT JOIN ( SELECT SUPPLIERID,
			SUPPLIERCONTACTNAME,
			REVERSE(PARSENAME(REPLACE(REVERSE(PHONENUMBER), ',', '.'), 1)) AS PHONENO1,
			REVERSE(PARSENAME(REPLACE(REVERSE(PHONENUMBER), ',', '.'), 2)) AS PHONENO2
		FROM XXBCM_CLIENT_PHONE_NUMBER ) AS ctc ON ctc.SUPPLIERID = ordh.SUPPLIERID
ORDER BY sup.SUPPLIERNAME

GO
